@font-face {
  font-family: "Arual";
  src: url(../fonts/Arual.ttf) format("truetype");
}
body {
  margin: 0px;
  padding: 0px;

  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Segoe UI", sans-serif;
}
h1 {
  font-family: "Arual", sans-serif;
  font-size: 58px;
  position: absolute;
  top: -60px;
  font-weight: lighter;
}
h2 {
  font-family: "Arual", sans-serif;
  font-size: 30px;
  position: absolute;
  top: -18px;
  left: 1254px;
  font-weight: lighter;
}
div {
  font-family: "Arual", sans-serif;
  font-weight: lighter;
}
#background {
  width: 100%;
  height: 100%;
  background-color: #2b1d2c;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  filter: blur(5px);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  transform: scale(1.03);
  transition: all 20s linear;
  background-position: 0px 0px;

  display: block;
}
.log {
  color: rgba(255, 255, 255, 0.46);
  position: absolute;
  left: 20px;
  top: 20px;
}
.log-top-right {
  top: 20px;
  right: 20px;
  text-align: right;
  display: none;
}
.loading-container {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 10%;

  z-index: 5;

  color: #fff;

  font-family: Arial;
}
.loading-labels {
  width: 100%;
  height: 20px;

  margin-left: 2px;
  margin-right: 3px;

  margin-top: 5px;
  margin-bottom: 12px;

  padding: 5px;
  text-align: center;
  position: relative;
  display: inline;
  white-space: nowrap;
}
.loading-labels div {
  display: none;
  text-align: left;
  font-size: 25px;
  position: relative;
  top: 65px;
  color: #fff;
  font-family: "Arual", sans-serif;
}
.loading-bar-container {
  width: 100%;
  background-color: rgba(140, 140, 140, 0.9);
  height: 20px;

  margin-left: 2px;
  margin-right: 3px;

  margin-top: 5px;
  margin-bottom: 5px;

  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  background-color: #1a1a1a;

  border-radius: 6px;
  padding: 5px;
  text-align: left;
  overflow: hidden;
  position: relative;
  display: block;
  white-space: nowrap;
  z-index: -1;
}
.loading-bar {
  height: 20px;
  border-radius: 3px;
  background: repeating-linear-gradient(to right, red 0%, orange 50%, #FF4C85 100%, orange 50%, red 0%);
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}
@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}
.bgcolor-first {
  background-color: #d95b43;
}
.bgcolor-second {
  background-color: #c02942;
}
.bgcolor-third {
  background-color: #542437;
}
.bgcolor-fourth {
  background-color: #53777a;
}
.color-first {
  color: #d95b43;
}
.color-second {
  color: #c02942;
}
.color-third {
  color: #bd517c;
}
.color-fourth {
  color: #53777a;
}